<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script>
  //const url = 'http://localhost:5001/top10'

  //postData(url,{start:"20200401",end:"20200428"})
  //.then(data => console.log(JSON.stringify(data)))
  //.catch(error => console.error(error));
  var newChart = null
  function replaceAll(str, searchStr, replaceStr) {
    return str.split(searchStr).join(replaceStr);
  }

  function showSpinner(){
    document.getElementById('button-addon2').innerHTML="<span class='spinner-border spinner-border-sm mr-2' role='status' aria-hidden='true'></span>검색 중.."
    document.getElementById('button-addon2').classList.add("disabled")
  }
  
  function hideSpinner(){
    document.getElementById('button-addon2').innerHTML="검색"
    document.getElementById('button-addon2').classList.remove("disabled")

  }

  function postData(){
    let start = replaceAll(document.getElementById("start").value,"-","");
    let end = replaceAll(document.getElementById("end").value,"-","");
    if(newChart!=null){
        newChart.destroy();
    }
    showSpinner()
    // Default options are marked with *
    return fetch('http://localhost:5001/top10', {
        method: 'POST', // *GET, POST, PUT, DELETE, etc.
        mode: 'cors', // no-cors, cors, *same-origin
        cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
        headers: {
            'Content-Type': 'application/json',
            // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: JSON.stringify({start:start,end:end}), // body data type must match "Content-Type" header
    })
    .then(response => {return response.json()})
    .then(myJSON => {
      hideSpinner()
      let ctx = document.getElementById('myChart').getContext('2d');
      newChart = new Chart(ctx,myJSON);
      document.getElementById('myChart').style.display = "inline"
    })
  }
  </script>
</head>
<body>
  <nav class="navbar navbar-dark bg-primary">
    <span class="navbar-brand mb-0 h1">My fintech</span>
  </nav>
  <div class="container-fluid m-5" margin-top='20'></div>
  <div class="container">
      <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Select date</span>
          </div>
          <input id="start" type="date" aria-label="start date" class="form-control">
          <input id="end" type="date" aria-label="end date" class="form-control">
          <div class="input-group-append">
              <button class="btn btn-primary" onclick=postData() type="button" id="button-addon2">검색</button>  
          </div>
        </div>
      <div class="row m-5">
          <div class="col align-self-center text-center">
            <canvas id="myChart" width="400" height="400" display="flex"></canvas>
          </div>
      </div>
    </div>

  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>